/* body*/

body {
    background-color: #1f2c7b;
    width: 100%;
}

/* header */

.title {
    text-align: center;
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    margin-top: 3%;
}

/* form */

fieldset {
    border: 0px;
    background-color: #ffffff;
    border-radius: 15px;
    width: 350px;
    height: 380px;
    padding-top: 20px;
    margin-top: 30px;
    margin-left: 37%;  
}

/*nota*/

.nota {
    margin-left: 12px;
    font-weight: 600;
    
}


/* botao adicionar */

#btn_adicionar {
    margin-left: 5px;
}


/* text area */

 #mensagem{
    width: 330px;
    height: 200px;
    margin: 20px 12px 20px 12px;
 }

 /* botao calcular média */

#calcular {
    margin-left: 12px;
}

/* a média é */

.text {
    margin-top: 20px;
    margin-left: 12px;
    font-weight: 500;
}